
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- short -->
<div class="using-border py-3">
    <div class="inner_breadcrumb  ml-4">
        <ul class="short_ls">
            <li>
                <a href="/Home/Index">Trang chủ</a>
                <span>/ /</span>
            </li>
            <li>Liên Hệ</li>
        </ul>
    </div>
</div>
<!-- //short-->
<!-- contact -->
<section class="contact py-lg-4 py-md-3 py-sm-3 py-3" id="contact">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="text-center title mb-3">
            Giữ liên lạc
        </h3>
        <div class="title-wls-text text-center pt-lg-2 pt-1 mb-lg-5 mb-md-4 mb-sm-4 mb-3">
            <p>
                Nếu bạn có thời gian vui vẻ, đừng lo lắng về điều này, bạn sẽ không thất vọng với công việc của mình.
            </p>

        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 contact-form pb-lg-3 pb-2">
                <form action="#" method="post">

                    <div class=" form-group contact-forms">
                        <input type="text" class="form-control" placeholder="Name" required="">
                    </div>
                    <div class=" form-group contact-forms">
                        <input type="email" class="form-control" placeholder="Email" required="">
                    </div>
                    <div class=" form-group contact-forms">
                        <input type="text" class="form-control" placeholder="Phone" required="">
                    </div>
                    <div class="form-group contact-forms">
                        <textarea class="form-control" placeholder="Meassage" required=""></textarea>
                    </div>
                    <button type="submit" class="btn sent-butnn btn-lg"></button>
                </form>
            </div>
            <div class="address_mail_footer_grids col-lg-6 col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3539.812628729253!2d153.014155!3d-27.4750921!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b915a0835840a2f%3A0xdd5e3f5c208dc0e1!2sMelbourne+St%2C+South+Brisbane+QLD+4101%2C+Australia!5e0!3m2!1sen!2sin!4v1492257477691"></iframe>
            </div>
        </div>
    </div>
</section>
<!--//contact -->
