@model List<BaiTapLon.EF.BaiHat>
@{
    ViewBag.Title = "Gan_Day";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="list-group">
    <a href="#" class="list-group-item active">
        Danh sách bài hát
    </a>
    @foreach (var item in Model)
    {
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge"><b style="color: red">@item.LuotNghe</b><p>Lượt Nghe</p></span>
                @item.TenBH
            </li>
            <li class="list-group-item">
                <button type="button" class="btn btn-primary">Like</button>
                <button type="button" class="btn btn-primary">Yêu thích</button>
            </li>
        </ul>
    }
</div>

