@{
    ViewBag.Title = "Home Page";
}

<!--A Design by W3layouts
  Author: W3layout
  Author URL: http://w3layouts.com
  License: Creative Commons Attribution 3.0 Unported
  License URL: http://creativecommons.org/licenses/by/3.0/
  -->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Be Dance An Entertainment Category Bootstrap Responsive Web Template | Home :: w3layouts</title>
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Modiste Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
      Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--//meta tags ends here-->
    <!--booststrap-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!-- //font-awesome icons -->
    <!--stylesheets-->
    <link href="~/Content/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//stylesheets-->
    <link href="//fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
    <link href="~/Content/all.css" rel="stylesheet" />


</head>

<body>
    <section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="text-center title mb-3">Music</h3>
            <div class="title-wls-text text-center pt-lg-2 pt-1 mb-lg-5 mb-md-4 mb-sm-4 mb-3">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum
                </p>

            </div>

            <div class="row">
                <div class="col-lg-7 text-right about-two-grids">
                    <h5 class="mb-lg-4 mb-3">
                        Welcome
                        <span class="mid-color">New</span> Students
                    </h5>
                    <div class="about-para-txt">
                        <p>
                            sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, eiusmod tempor incididunt
                            ut labore et consectetur adipiscing sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum
                            dolor sit amet, eiusmod tempor incididunt ut labore et consectetur adipiscing
                        </p>
                        <p class="mt-2">
                            sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, eiusmod tempor incididunt
                            ut labore et consectetur adipiscing sed do eiusmod
                        </p>
                    </div>
                    <div class="view-buttn mt-md-4 mt-3">
                        <a href="blog.html" class=" scroll">Read More</a>
                    </div>
                </div>
                <div class="col-lg-5 about-imgs-txt">
                    <img src="~/Content/images/ab1.jpg" alt="news image" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <section class="service py-lg-4 py-md-3 py-sm-3 py-3" id="service">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="text-center title mb-3 clr">Our Dance Studio</h3>
            <div class="title-wls-text text-center pt-lg-2 pt-1 mb-lg-5 mb-md-4 mb-sm-4 mb-3">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum
                </p>

            </div>
            <div class="row">
                <div class="service-dance-grid col-lg-4 col-md-6 col-sm-6 my-3 text-center">
                    <div class="service-position">
                        <img src="~/Content/images/s1.jpg" alt="" class="img-fluid">
                        <div class="icon-position">
                            <span class="fa fa-thumbs-up"></span>
                        </div>
                    </div>
                    <h4 class="mt-4 mb-3">Cha Cha</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>


                </div>
                <div class="service-dance-grid col-lg-4 col-md-6 col-sm-6 my-3 text-center">
                    <div class="service-position">
                        <img src="~/Content/images/s2.jpg" alt="" class="img-fluid">
                        <div class="icon-position">
                            <span class="fa fa-thumbs-up"></span>
                        </div>
                    </div>
                    <h4 class="mt-4 mb-3">Cumbia</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>


                </div>
                <div class="service-dance-grid col-lg-4 col-md-6 col-sm-6 my-3 text-center">
                    <div class="service-position">
                        <img src="~/Content/images/s3.jpg" alt="" class="img-fluid">
                        <div class="icon-position">
                            <span class="fa fa-thumbs-up"></span>
                        </div>
                    </div>
                    <h4 class="mt-4 mb-3">Cha Cha</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>


                </div>
                <div class="service-dance-grid col-lg-4 col-md-6 col-sm-6 mt-lg-4 my-3 text-center">
                    <div class="service-position">
                        <img src="~/Content/images/s2.jpg" alt="" class="img-fluid">
                        <div class="icon-position">
                            <span class="fa fa-thumbs-up"></span>
                        </div>
                    </div>
                    <h4 class="mt-4 mb-3">Tap dancing</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>


                </div>
                <div class="service-dance-grid col-lg-4 col-md-6 col-sm-6 mt-lg-4 my-3 text-center">
                    <div class="service-position">
                        <img src="~/Content/images/s3.jpg" alt="" class="img-fluid">
                        <div class="icon-position">
                            <span class="fa fa-thumbs-up"></span>
                        </div>
                    </div>
                    <h4 class="mt-4 mb-3">Corridos</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>


                </div>
                <div class="service-dance-grid col-lg-4 col-md-6 col-sm-6 mt-lg-4 my-3 text-center">
                    <div class="service-position">
                        <img src="~/Content/images/s1.jpg" alt="" class="img-fluid">
                        <div class="icon-position">
                            <span class="fa fa-thumbs-up"></span>
                        </div>
                    </div>
                    <h4 class="mt-4 mb-3">Cumbia</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
                </div>
            </div>
        </div>
    </section>
    <!-- services -->
    <!-- price -->
    <section class="prices py-lg-4 py-md-3 py-sm-3 py-3" id="price">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="text-center title mb-3">Our Pricing List</h3>
            <div class="title-wls-text text-center pt-lg-2 pt-1 mb-lg-5 mb-md-4 mb-sm-4 mb-3">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum
                </p>

            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 wls-hours-list">
                    <ul>
                        <li class="d-flex">
                            <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Cumbia
                            <span class="time ml-auto">300$</span>
                        </li>
                        <li class="d-flex">
                            <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Corridos
                            <span class="time ml-auto">450$</span>
                        </li>
                        <li class="d-flex">
                            <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Cha Cha
                            <span class="time ml-auto">550$</span>
                        </li>
                        <li class="d-flex">
                            <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Tap dancing
                            <span class="time ml-auto">350$</span>
                        </li>
                        <li class="d-flex">
                            <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Corridos
                            <span class="time ml-auto">450$</span>
                        </li>
                        <li class="d-flex">
                            <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Cha Cha
                            <span class="time ml-auto">550$</span>
                        </li>
                        <li class="d-flex">
                            <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Tap dancing
                            <span class="time ml-auto">350$</span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 wls-hours-list">
                    <ul>
                        <li class="d-flex">
                            <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Cumbia
                            <span class="time ml-auto">300$</span>
                        </li>
                        <li class="d-flex">
                            <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Corridos
                            <span class="time ml-auto">450$</span>
                        </li>
                        <li class="d-flex">
                            <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Cha Cha
                            <span class="time ml-auto">550$</span>
                        </li>
                        <li class="d-flex">
                            <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Tap dancing
                            <span class="time ml-auto">350$</span>
                        </li>
                        <li class="d-flex">
                            <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Corridos
                            <span class="time ml-auto">450$</span>
                        </li>
                        <li class="d-flex">
                            <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Cha Cha
                            <span class="time ml-auto">550$</span>
                        </li>
                        <li class="d-flex">
                            <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Tap dancing
                            <span class="time ml-auto">350$</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <section class="clients py-lg-4 py-md-3 py-sm-3 py-3" id="clients">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="text-center title mb-3 clr">What Clients Says</h3>
            <div class="title-wls-text text-center pt-lg-2 pt-1 mb-lg-5 mb-md-4 mb-sm-4 mb-3">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum
                </p>

            </div>
            <div class="row text-center">
                <div class="col-lg-3 col-md-6 col-sm-6 my-3 item-clents">
                    <div class="client-text">
                        <div class="img-text mb-lg-4 mb-3">
                            <img src="~/Content/images/c1.jpg" alt="" class="img-fluid">
                        </div>
                        <h4 class="mb-2">lois kent</h4>
                        <p>Aenean pulvinar diam vel felis volutpat dictum, suscipit sapien scelerisque tempus </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 my-3 item-clents">
                    <div class="client-text">
                        <div class="img-text mb-lg-4 mb-3">
                            <img src="~/Content/images/c2.jpg" alt="" class="img-fluid">
                        </div>
                        <h4 class="mb-2">Mia Sam</h4>
                        <p>Aenean pulvinar diam vel felis volutpat dictum, suscipit sapien scelerisque tempus </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 my-3 item-clents">
                    <div class="client-text">
                        <div class="img-text mb-lg-4 mb-3">
                            <img src="~/Content/images/c3.jpg" alt="" class="img-fluid">
                        </div>
                        <h4 class="mb-2">Emma kent</h4>
                        <p>
                            Aenean pulvinar diam vel felis volutpat dictum, suscipit sapien scelerisque tempus
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 my-3 item-clents">
                    <div class="client-text">
                        <div class="img-text mb-lg-4 mb-3">
                            <img src="~/Content/images/c4.jpg" alt="" class="img-fluid">
                        </div>
                        <h4 class="mb-2">Emily Rox</h4>
                        <p>
                            Aenean pulvinar diam vel felis volutpat dictum, suscipit sapien scelerisque tempus
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--//clients -->
    <!-- team -->
    <section class="team py-lg-4 py-md-3 py-sm-3 py-3" id="team">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="text-center title mb-3">professional dancers</h3>
            <div class="title-wls-text text-center pt-lg-2 pt-1 mb-lg-5 mb-md-4 mb-sm-4 mb-3">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum
                </p>
            </div>
            <div class="row text-center">
                <div class="col-lg-3 col-md-6 col-sm-6 my-3 team-list-team">
                    <div class="team-member">
                        <div class="team-img">
                            <img src="~/Content/images/t1.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="team-hover">
                            <div class="desk text-center">
                                <h4 class="mb-2">Joya Mily</h4>
                            </div>
                            <div class="s-link">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-facebook-square"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-twitter-square"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-rss"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 my-3 team-list-team">
                    <div class="team-member">
                        <div class="team-img">
                            <img src="~/Content/images/t2.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="team-hover">
                            <div class="desk text-center">
                                <h4 class="mb-2">Max Hammer</h4>
                            </div>
                            <div class="s-link">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-facebook-square"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-twitter-square"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-rss"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 my-3 team-list-team">
                    <div class="team-member">
                        <div class="team-img">
                            <img src="~/Content/images/t3.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="team-hover">
                            <div class="desk text-center">
                                <h4 class="mb-2">Jonn Jozz</h4>
                            </div>
                            <div class="s-link">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-facebook-square"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-twitter-square"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-rss"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 my-3 team-list-team">
                    <div class="team-member">
                        <div class="team-img">
                            <img src="~/Content/images/t4.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="team-hover">
                            <div class="desk text-center">
                                <h4 class="mb-2">Ray Rox</h4>
                            </div>
                            <div class="s-link">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-facebook-square"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-twitter-square"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-rss"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="timings py-lg-4 py-md-3 py-sm-3 py-3" id="timings">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="text-center title clr mb-3">Our Class & Timings </h3>
            <div class="title-wls-text text-center pt-lg-2 pt-1 mb-lg-5 mb-md-4 mb-sm-4 mb-3">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum
                </p>

            </div>
            <div class="row">
                <div class="col-lg-5 col-md-6 wthree-time-sheet">
                    <div class="timings-sheet">
                        <ul>
                            <li class="d-flex">
                                Monday
                                <span class="time ml-auto">11:30-10:30</span>
                            </li>
                            <li class="d-flex">
                                Tuesday
                                <span class="time ml-auto">11:30-10:30</span>
                            </li>
                            <li class="d-flex">
                                Wednesday
                                <span class="time ml-auto">11:30-10:30</span>
                            </li>
                            <li class="d-flex">
                                Thursday
                                <span class="time ml-auto">11:00-10:30</span>
                            </li>
                            <li class="d-flex">
                                Saturday
                                <span class="time ml-auto">10:30-14:30</span>
                            </li>
                            <li class="d-flex">
                                Sunday
                                <span class="time ml-auto">Close</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 wthree-time-img">
                    <img src="~/Content/images/ab2.jpg" alt="news image" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
</body>

</html>>