<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>

<connectionStrings><add name="Online_Music" connectionString="data source=DESKTOP-UTELS38\SQLEXPRESS;initial catalog=dbNhac;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>
